body {
  font-size: 14px;
}

header {
  display: block;
  height: 50px;
}
header h1 {
  float: left;
  margin: 0;
}
header p {
  float: right;
}

section {
  width: 100%;
  text-decoration: none;
  margin: 0;
}
section>menu {
  display: inline-block;
  width: 20%;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background-color: #DDDDDD;
}
article {
  display: inline-block;
  vertical-align: top;
}

span {
  display: inline-block;
}

.mods {
  clear: both;
  border: 1px solid black;
}
.mod {
  display: inline-block;
  vertical-align: top;
  padding: 3px;
  margin: 3px;
  width: 80px;
  background-color: #FFEEDD;
  border: 1px dashed black;
}

.logs {
  clear: both;
}

.name {
  font-size: normal;
  font-style: bold;
}
.description {
  font-size: small;
}
.flavortext {
  font-size: x-small;
  font-style: italic;
  text-align: right;
}
span {
  align: center;
}
